# To obtain some information from Vercel.
VERCEL_TOKEN=

# Vercel project ID. Can be short name or full project ID.
PROJECT_ID=

# Vercel KV credentials
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=

# To store some information, such as the number of page views.
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=