@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #252925f2;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #2a2929;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #595552;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #6f6b67;
  }
}

@utility box-decorator {
  @apply inline-flex items-center space-x-2 rounded-xs px-1 align-middle;
}
